.bgFour{color: silver;
    background-color:rgb(11, 95, 68) ;
   
}
.bg1Four{color: silver;
    background-color: rgb(11, 95, 68);
    margin-top: 100%;
    padding: 8%;
}
.bg2Four{
    background-color: rgb(102, 240, 182);}
    
.imgFour{

      margin-top: 80%;
    height: 200px;
    width: 300px;
}
.img1Four{
    margin-top: 50%;
   
    height: 200px;
    width: 300px;
}