.bgSx{color: silver;
    background-color:rgb(11, 95, 68) ;
   
}
.bg1Sx{color: silver;
    background-color: rgb(11, 95, 68);
    margin-top: 100%;
    padding: 8%;
}
.bg2Sx{
    background-color: rgb(102, 240, 182);}
    
.imgSx{

      margin-top: 80%;
    height: 200px;
    width: 300px;
}
.img1Sx{
    margin-top: 50%;
   
    height: 200px;
    width: 300px;
}