.bgT{color: silver;
    background-color:rgb(106, 20, 177) ;
   
}
.bg1T{color: silver;
    background-color: rgb(106, 20, 177);
    margin-top: 100%;
    padding: 8%;
}
.bg2T{
    background-color: rgb(239, 239, 241);}
    
.imgT{

      margin-top: 80%;
    height: 200px;
    width: 300px;
}
.img1T{
    margin-top: 80%;
   
    height: 200px;
    width: 300px;
}