
  .FixedSvg {
    position: absolute;
    left: 550px;
}


@media (max-width: 1024px) {
    .FixedSvg {
        left: 10px; 
    }
}


@media (max-width: 768px) {
    .FixedSvg {
        left: 5px; 
    }
}




 